language: r

os:
  - linux

r:
  - oldrel
  - release
  - devel

before_install:
  # Here we just install Miniconda, which you shouldn't have to change.
  - wget http://repo.continuum.io/miniconda/Miniconda-latest-Linux-x86_64.sh -O miniconda.sh
  - chmod +x miniconda.sh
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - conda config --add channels defaults
  - conda config --add channels bioconda
  - conda config --add channels conda-forge
  - conda update --yes conda

install:
  - bash scripts/install.sh

script:
  - bash scripts/test.sh

notifications:
  email: false
